<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body class="container">
	<h1>Hello Spring!</h1>
	<h1 class="diplay-4 mb-4" th:text="${title}"></h1>
	<p th:text="${msg}"></p>
	<pre th:text="${data}"></pre>
	
	<table class="table">
	  <thead>
	    <tr>
	      <th>ID</th><th>Name</th><th>Mail</th><th>Age</th><th>Memo</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="p : ${data}">
	      <td th:text="${p.id}"></td>
	      <td th:text="${p.name}"></td>
	      <td th:text="${p.mail}"></td>
	      <td th:text="${p.age}"></td>
	      <td th:text="${p.memo}"></td>
	    </tr>
	  </tbody>
</table>
</body>
</html>